.content {
    position: fixed;
}

#white {
    color: white;
    font-family: sans-serif;
}

p, h1, h2, h3, h4, h6, div {
    color: white;
    font-family: sans-serif;
}

body {
    background-color: black;
}

a:hover {
    color: #fff; transition: 0.5s;
}

a {
    color: #3471eb; transition: 1s; text-decoration: none;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }