body {
    overflow-y: hidden;
  }

h1, h2, h3, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#white {
    color: white;
    font-family: sans-serif;
}

body {	
    text-align:center;
    font-size: 56px;
    background-color: black;
}

#CreditHeader {
    font-size: 48px;
}

.Credit {
    margin-top: 200px;
}