body {
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    overflow: hidden;
    background: black;
  }
  
  #site_wrapper{
    position:relative;
}

#background {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
}
  canvas {
    width: 100%;
  }