.content {
    position: fixed;
}

#white {
    color: white;
    font-family: sans-serif;
}

body {
    background-color: black;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

button {
    position: relative;
    background-color: #000000;
    border-radius: 25%;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    right: 50%;
}
#start {
    position: fixed;
    top: 40%;
}

#settings {
    position: fixed;
    top: 50%;
}

#about {
    position: fixed;
    top: 60%;
}